body {
    text-align: center;
}

.library {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.book {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    border: solid 1px black;
    border-radius: 5%;
    gap: 2px;
}

p {
    margin: 0;
}

.title {
    font-size: 2em;
}

.author {
    font-size: 1.5em;
}

.new {
    margin-bottom: 2em;
}